<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Projeto Pokedex</title>
</head>
<body>
    <header>
        <h1>Pokedex</h1>
    </header>  
<main>
    <section id="cards">
        <%pokedex.forEach((pokemon) =>{ %>
        <a href = "/detalhes/<%= pokemon.id %>" >
           <button>
                <div class="card">
                    <img src="<%= pokemon.imagem %>" alt=""/>
                    <h2>
                        <%= pokemon.nome %>
                    </h2>
                    <p>
                        Tipo: <%= pokemon.tipo %>
                    </p>
                    <p>
                        Categoria: <%= pokemon.Categoria %>
                    </p>
                </div>
            </button>
        </a>
    <% }) %>    
    </section>
        <form action = "/cadastro">
        <button id = "btcadastro" type = "submit">Cadastre seu Pokemon</button>
        </form>   
    </section>
</main>
</body>
<script src = "script.js"></script>
</html>